token {
   # AUTH_SERVICE_TOKEN_TIMEOUT
   # Timeout in seconds:
   timeout = 3600 #1h
}

db {
  # AUTH_SERVICE_DB_HOST
  host = "database"
  # AUTH_SERVICE_DB_DATABASE
  database = "auth-service"
  # AUTH_SERVICE_DB_USER
  user = "auth-service"
  # AUTH_SERVICE_DB_PASSWORD
  password = "password" #required
}
