database:
  image: postgres:9.5
  environment:
    - POSTGRES_USER=lambdatrade

auth-service:
  build: .
  links:
    - database
  environment:
    - log=true

#One or more application container
upstream:
  image: nginx:latest
  volumes:
    - ./index.html:/www/index.html
    - ./upstream-nginx.conf:/etc/nginx/nginx.conf

auth-web:
  build: web
  volumes:
    - ./frontend/auth.html:/www/auth.html
  links:
    - auth-service
    # Link upstream containers to their instance IDs
    - upstream:de305d54-75b4-431b-adb2-eb6b9e546014

frontend:
  image: nginx:latest
  # s/8000/<desired port>
  ports:
    - 8000:80
  volumes:
    - ./frontend/nginx.conf:/etc/nginx/nginx.conf
    - ./frontend/auth-service.include:/etc/nginx/auth-service.include
  links:
    - auth-web
