version: '2'

services:
  database:
    image: postgres:9.5
    networks:
      - auth-service

  auth-service:
    build: service
    links:
      - database
    environment:
      - log=true
      - TWILIO_ACCOUNT=AC7d2148c9391bf9133843462b8cd6f271
      - TWILIO_TOKEN=bad524c865476855c0c66830617e9e27
      - TWILIO_SOURCE=+15005550006
    logging:
      driver: gelf
      options:
        gelf-address: udp://localhost:12201
    networks:
      - auth-service

  # One or more application container
  upstream:
    image: nginx:latest
    volumes:
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo/index.html
      - ./tests/upstream-nginx.conf:/etc/nginx/nginx.conf
    networks:
      - auth-service

  auth-web:
    build: web
    volumes:
      - ./frontend/auth.html:/www/auth.html
    links:
      - auth-service
      # Link upstream containers to their instance IDs
      - upstream:de305d54-75b4-431b-adb2-eb6b9e546014
    environment:
  #   - COOKIE=session
      - COOKIE=permanent
    networks:
      - auth-service

  frontend:
    image: nginx:latest
    # s/8000/<desired port>
    ports:
      - 8000:80
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/auth-service.include:/etc/nginx/auth-service.include
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo.html
    links:
      - auth-web
    networks:
      - auth-service

networks:
  auth-service:
