token {
   # AUTH_SERVICE_TOKEN_TIMEOUT
   # Timeout in seconds:
   timeout = 3600 #1h
}

db {
  # AUTH_SERVICE_DB_HOST
  host = "localhost"
  # AUTH_SERVICE_DB_DATABASE
  database = "auth-service"
  # AUTH_SERVICE_DB_USER
  # user = "auth-service"
  # AUTH_SERVICE_DB_PASSWORD
  # password = "password"
}

otp {
  # AUTH_SERVICE_OTP_LENGTH
  # generated One Time Password length
  length = 8
  # AUTH_SERVICE_OTP_TIMEOUT
  # One Time Password timeout in seconds
  timeout = 300 # 5 minutes
}

twilio {
  # AUTH_SERVICE_TWILIO_ACCOUNT
  # Twilio account SID
  account = "AC7d2148c9391bf9133843462b8cd6f271"
  # AUTH_SERVICE_TWILIO_TOKEN
  # Twilio Authentication Token
  token = "bad524c865476855c0c66830617e9e27"
  # AUTH_SERICE_TWILIO_SOURCE
  # Source number for sms
  source = "+15005550006"
}